<!DOCTYPE html>
<html>
<head>
	<title> REGISTRATION </title>
</head>
</body>
            <h1> Register </h1>
            <form method='POST' action=''>
	    <ul>
	        <li> Name  <input type="text"  name="name" > </li><br>
		<li> Email <input type="text"  name="email" > </li><br>
		<li> User Name <input  type="text" name="username" > </li><br>
		<li> Password  <input type="password" name="password" > </li><br>
	        <li> Confirm Password   <input type="password" name="confirm" > </li>
	    </ul>
	<p> <input type='submit'  value='Submit'></p>  
    </form>

    </body>


</html>
